/*Main css file for Introduction to Multimedia first project
* Candidate number: 215813
*/

h1{
  color: red;
  margin-left: 2em;
}
img{
  margin-left: 8em;
}
/*Nav bar design*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00FFCC;
}
nav li {
  display: inline;
  float: left;
}
nav li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/**background nav bar colour when mouse hovers over*/
nav li a:hover {
  background-color: #808080;
}
/*Highlights current page*/
.nav .current{
  background-color: #FFCE55;
}
/*Chnages colour of letters*/
.dark-mode{
  background: black;
  color: white;
}
/*Dark mode button position*/
button{
  margin-top: 2em;
}
/* video greeting position*/
video{
  margin-left: 5em;
}
/*Coursework position*/
p{
  margin-left: 5em;
}
footer{
  margin-left: 5em;
}
/*photo gallery slideshow*/
@keyframes slide {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #FFCE55;
  font-weight: 100;
}
div#album-with-captions { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 18s slide infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: #0F1D18;
  color: white; width: 100%;
  font-size: 2rem; 
}

